<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Derived Sources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Derived Sources_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>JSCLLIntOffsetsExtractor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>JSCLLIntOffsetsExtractor_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>JavaScriptCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JavaScriptCore_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>LLInt Offsets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LLInt Offsets_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Offline Assembler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Offline Assembler_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Test Tools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>jsc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>llvmForJSC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>llvmForJSC_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>minidom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>testRegExp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>testapi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F4680A914BA7FD900BFE272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FCEFAB51805D61600472CE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF922C314F46B130041A24E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11267DE51A1280D800A3E188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11267DEE1A12816600A3E188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11267DFE1A1281EA00A3E188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11267E0D1A12824700A3E188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>118A01051A1264150076618F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>118A01161A127CF20076618F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1412111F0A48793C00480255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14BD59BE0A3E8F9000BAF59C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D6B2A47152B9E17005231DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>651122F714046A4C002B101D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65788A9D18B409EB00C189FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65FB3F6609D11E9100F49DEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>932F5B3E0822A1C700736975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>932F5BDA0822A1C700736975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>932F5BE30822A1C700736975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
